:root {
  /* Primary colors */
  --light-red: 0, 100%, 67%;
  --orangey-yellow: 39, 100%, 56%;
  --green-teal: 166, 100%, 37%;
  --cobalt-blue: 234, 85%, 45%;

  /* Gradients */
  --light-slate-blue-background: hsl(252, 100%, 67%);
  --light-royal-blue-background: hsl(241, 81%, 54%);
  --violet-blue-circle: hsla(256, 72%, 46%, 1);
  --persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* Mian styles */

main {
  display: flex;

  box-shadow: rgba(14, 17, 91, 0.3) 5px 2px 20px 10px;
  border-radius: 15px;
}
.result-box {
  background: linear-gradient(
    var(--light-slate-blue-background),
    var(--light-royal-blue-background)
  );

  width: 330px;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 10px 35px;
  text-align: center;
  color: var(--pale-blue);
}

/* Result box styless */
h1 {
  font-size: 1rem;
  font-weight: 500;
}
.circle {
  background: linear-gradient(
    var(--violet-blue-circle),
    var(--persian-blue-circle)
  );
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  position: relative;
}
.score {
  font-size: 6rem;
  font-weight: 700;
}
.circle p {
  margin: 0;
  position: absolute;
  top: 140px;
  left: 70px;
}
.result-box p {
  font-size: 1rem;
}
/* Summary Card */

.summary-box {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  gap: 10px;
  padding: 20px;
  width: 300px;
}

.summary-box p,
h3 {
  margin: 0;
}

.summary-box > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  flex-grow: 1;
  border-radius: 10px;
  box-sizing: border-box;
}
.reaction {
  color: hsl(var(--light-red));
  background-color: hsl(var(--light-red), 0.1);
}
.memory {
  color: hsl(var(--orangey-yellow));
  background-color: hsl(var(--orangey-yellow), 0.1);
}
.verbal {
  color: hsl(var(--green-teal));
  background-color: hsl(var(--green-teal), 0.1);
}
.visual {
  color: hsl(var(--cobalt-blue));
  background-color: hsl(var(--cobalt-blue), 0.1);
}
.summary-box div.button {
  background: var(--dark-gray-blue);
  color: white;
  border-radius: 50px;
  justify-content: center;
}
.inner {
  display: flex;
  column-gap: 6px;
}

@media only screen and (max-width: 505px) {
  main {
    flex-direction: column;
    width: fit-content;
    margin: auto;
    padding: 20px;
  }
  .summary-box {
    width: 320px;
    height: 400px;
    padding: 0;
  }
}
